@tailwind base;
@tailwind components;
@tailwind utilities;

.transition-menu {
  transition-property: transform;
  transition-duration: 0.3s; /* Duraci贸n de la animaci贸n en segundos */
  transition-timing-function: ease-in-out; /* Funci贸n de temporizaci贸n */
}
/*
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
*/